@media (min-width: 576px){
    .carruselinicio, .productosmobile1, .productosmobile2 {
      display:none;
     
    }
    }
    
    @media (max-width:576px){
      .productosdesktop, .iniciodesktop{
        display:none;
      }
      .micarrusel{
        max-width: 100%;
      }
     li{
      font-size: smaller;
     }
    }